<div id="myModal" class="overlay">

  <a
    href="javascript:void(0)"
    class="closebtn"
    (click)="closeModal()">X
  </a>
  <!-- &times; -->
  <div class="overlay-content">

    <div
      id="#products-wrapper"
      class="card-group"
      *ngIf="thisProduct">

      <div
        class="card product-card"
        *ngFor='let product of thisProduct'>
        <div class="card-body">

          <h5 class="card-title">{{product.name}}</h5><br>

          <!-- Example image url:
    "https://backendapi.turing.com/images/products/wreath.gif"-->

          <img
            width="100"
            alt="Angular Logo"
            src="https://backendapi.turing.com/images/products/{{product.image}}">
            <br><br>

          <button class="button-left">{{product.discounted_price}}</button>
          <button class="button-right">{{product.price}}</button><br>
          <p class="description">{{product.description}}</p>
          <div id="color_div" name="color_div">Color</div>
          <div name="size_div">Size</div>

          <div><button (click)="addProduct2Cart()">Add to cart</button></div>
          <label for="review">Leave a review<br>
            <textarea name="review"></textarea><br>
            <button>Leave Review</button>
          </label><br>
          <label for="user-reviews">Reviews<br>
            <div class="user-reviews" name="user-reviews"></div>
          </label>
        </div>
      </div>

    </div>

  </div>
</div>
