<div id="topNav" class="bg-white shadow-sm">
    <nav id="topNavRow" class="nav">

      <div *ngIf="!isLoggedIn">
        Hi!<a
            class="pinkLink"
            (click)="openNav()"
            routerLink="/login"
            routerLinkActive="router-link-active"
            >Login
          </a>

          or
        <a
          class="pinkLink"
          routerLink="/register"
          routerLinkActive="router-link-active">
          <span class="pinkLink">Register</span>
        </a>
      </div>

      <div *ngIf="isLoggedIn">
        <a *ngIf="customer" href="/cart">
            <img
            class="linkImage"
            src="../../assets/images/shopping-bag.png"
        > {{customer.name}}</a>

        <a href="#">
          <img
          class="linkImage"
          src="../../assets/images/profile.png"
        >Profile</a>

        <a href="/" (click)="logUserOut()">
          <img
          class="linkImage"
          src="../../assets/images/logout.png"
        >Logout</a>
      </div>

      <div>
        <span class="topNavSpanLink">
          <a href="#">Daily Deals</a></span>
        <span class="topNavSpanLink"><a href="#">Sell</a></span>
        <span class="topNavSpanLink"><a href="#">Help & Contact</a></span>
      </div>

      <div id="divRight">
        <span class="topNavSpanLink">
          <a href="/cart">
            <img
            class="linkImage"
            src="../../assets/images/shopping-bag.png">
          </a></span>Your bag:
          <span id="checkoutAmount">${{cartTotal}}</span>
      </div>

    </nav>
  </div>
  <!-- end #topNav div-->

  <!------------------------------------------------------------->

  <div>
    <nav id="secondNavRow" class="navbar-dark bg-dark nav">

      <div>
        <a
          class="navbar-brand mr-auto mr-lg-0 pageLogo"
          routerLink="/">
          SHOPMATE</a>
      </div>

      <div id="secondNavRowDiv2">
        <a
          class="nav-link"
          *ngFor="let department of departments"
          routerLink="/products/indepartment/{{department.department_id}}"
          (click)="grabProductsInGivenDepartment()"
          routerLinkActive="active"
          >{{department.name}}</a>
      </div>

      <div id="secondNavRowDiv3">
          <label for="search"></label>
          <input
            [(ngModel)]="name"
            class="search"
            type="search"
            placeholder="Search Anything"
            aria-label="Search"
          >
          <!-- routerLink='products/search?query_string=' -->
      </div>

    </nav>
  </div>
<!------------------end NavBar------------------>
<!-- Sandwich: &#9776; -->

<div id="mainContent">
  <div>
      <app-categories></app-categories>
  </div>
  <div id="main-content-area">
      <router-outlet></router-outlet>
  </div>
</div>

<app-footer></app-footer>
